body {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: #393d41;
  font-family: 'Open Sans', Helvetica, sans-serif;
  line-height: 1.65;
  text-align: center;
}

header {
  background-color: black;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

header img {
  width: 150px;
}

h1{color:#25a2c3;
font-family: 'montserrat', Helvetica, sans-serif;
font-weight: 700;
font-size: 27px;
line-height: 1.5;
padding-top: 2em;
padding-bottom: 2em;}


#title{background-image: url(./images/banner.jpg);
    background-size: cover;
text-align: center;
margin-bottom: 2em;
width: 100%;}

#title button{color: white;
background-color: #f04c2f ;
font-family: 'Montserrat ', Arial, Helvetica, sans-serif;
border: none;
padding: 1em 2.5em;
border-radius: 3px;
margin-top: 2.5em;
margin-bottom: 2em;}

h3{color:#25a2c3;
    font-family: 'montserrat', Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 1em;
   margin-bottom: 0.5em;}


#picture1 {
    width: 300px;
border-radius: 50%;
margin-top: 2em;}


#epicode-statement{
color: white;
background-color:#e22d0e;
padding: 1em 2em;
margin-top: 3em;
margin-bottom: 3em;
text-align: center;
}

#epicode-statement h4{font-size: 20px;
font-weight: bold;
margin-top: 1.5em;
margin-bottom: 1em;
font-family: 'Montserrat',Arial, Helvetica, sans-serif;


}

#epicode-statement p:first-of-type {font-style: italic;
    margin-bottom: 2em;
}

#epicode-statement p:nth-of-type(2){
    font-size: 16px;
    margin-bottom: 0.25em;
}

#epicode-statement p:nth-of-type(3)
{font-size: 13px;}


.related-articles{
    box-sizing: border-box;
    width: 90%;
    margin-top: 2.5em;
    text-align: center;
    border: solid 1px #dee1e3;
    padding-bottom: 2em;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.img-related-article{width: 100%;
}

.text-related-articles{padding-left: 1.5em;
padding-right: 1.5em;}

footer{color: white;
background-color: #25a2c3;
margin-top: 4em;
padding-top: 2em;
padding-bottom: 4em;}

footer a {color: #c8e7f0;

}

footer h4{font-size: 24px;
    font-weight: bold;
    /* margin-top: 1.5em; */
    margin-bottom: 1em;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

    footer i{margin-right: 0.25em;}

hr{width: 50%;
margin-top: 2em;
margin-bottom: 2em;}